# Datasets grandes
FDC_Intermediate_Dimension/Datasets/Preprocessed_DM_xx.csv
FDC_Low_Dimension/Datasets/Preprocessed_DM_xx.csv

# Cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
.venv/
env/

# Arquivos de notebooks
.ipynb_checkpoints/